<link type="text/css" href="/static/stats/stats.css" rel="stylesheet">
<link type="text/css" href="/static/stats/pie.css" rel="stylesheet">

<ul id="cmd-tabs" class="nav nav-tabs">
    <li class="active"><a href="#" data-target="cmd-machine" data-toggle="tab">Maschinelle Vorschläge</a></li>
    <li><a href="#" data-target="cmd-stats" data-toggle="tab">Zwischenspeicher aktualisieren</a></li>
    <% if (user.id === 1) { %>
    <li><a href="#" data-target="cmd-import" data-toggle="tab">Import Votes</a></li>
    <li><a href="#" data-target="cmd-export" data-toggle="tab">Export Votes</a></li>
    <li><a href="#" data-target="cmd-admin" data-toggle="tab">Admin area</a></li>
    <% } %>
</ul>
<div class="tab-content">
    <div id="div-cmd-machine">
        <div class="cmd-well">
            <h4>Vorschläge nach Bayesian-Algorithmus</h4>

            <p>
                Anhand der Vorschläge lassen sich durch Filterung auf z.B. "Spam" diese im Block bewerten.
                Die Vorschläge werden mit den von Dir bewerteten Tweets durch Ähnlichkeiten erzeugt,
                d.h. sie sollten mit der Zeit und der Menge der bewerteten Tweets immer zutreffender werden.
            </p>

            <p>
                Hier kannst Du die Vorschläge aktualisieren, was mehrere Minuten dauert.
            </p>

            <button id="btn-act-classify" class="btn btn-primary" onclick="return aufschreib.requestClassify();"
                    type="button">
                Aktualisieren
            </button>
            <br/>
        </div>
        <% var container_id = chart_machine_params.getChartContainerId() + '_before' %>
        <% var chartparams = chart_machine_params; %>
        <div class="col-md-6"><h4>Vorschläge vor Aktualisierung</h4>
            <% include stats/pie_commands %>
        </div>
        <div class="col-md-6"><h4>Vorschläge nach Aktualisierung</h4>

            <div id="classify-result"></div>
        </div>
    </div>
    <div class="off-left-hidden" id="div-cmd-stats">
        <div class="cmd-well">
            <h4>Ergebnisse-Zwischenspeicher</h4>

            <p>
                Die Aufbereitung der Ergebnisse dauert zum Teil zu lang.
                Hier kannst du alle Ergebnisse auf einmal erzeugen und speichern, so dass das Betrachten stark
                beschleunigt wird.
                Hast Du neue Bewertungen gemacht, muss der Zwischenspeicher aktualisiert werden um diese im Ergebnis zu
                sehen.
                (Wenn Du die Funktion noch nie benutzt hast muss Du auch nicht aktualisieren, aber dann dauert es mit
                der Anzeige eben.)
            </p>

            <p>
                Hier kannst Du den Zwischenspeicher aktualisieren, was viele mehrere Minuten dauert.
            </p>
            <button id="btn-act-cache" class="btn btn-primary" onclick="return aufschreib.updateCache();"
                    type="button">
                Ergebnisse speichern
            </button>
            <br/>
        </div>
        <div id="statcache-result"></div>
    </div>
    <div class="off-left-hidden" id="div-cmd-import">
        <div class="cmd-well">
            <h4>Bulk insert User Classification Json File</h4>

            <form action="/bulk" method="post"
                  class="form-inline" enctype="multipart/form-data"
                  encoding="multipart/form-data"
                  id="form-file">
                <input id="bulkfile" type="file" name="file" size="40" placeholder="Choose JSON file"/>
                <br/>
                <button id="btn-act-bulk" class="btn btn-primary" onclick="return aufschreib.sendFile()">Upload File
                </button>
            </form>
        </div>
        <div class="row">
            <% var container_id = chart_human_params.getChartContainerId() + '_before'; %>
            <% var chartparams = chart_human_params; %>
            <div class="col-md-6"><h4>Human Classification Before</h4>
                <% include stats/pie_commands %>
            </div>
            <div class="col-md-6"><h4>Human Classification After</h4>

                <div id="output-upload"></div>
            </div>
        </div>
    </div>
    <div class="off-left-hidden" id="div-cmd-export">
        <div class="cmd-well">
            <h4>Download Classification JSON</h4>
            <% for (var i = 0; i < consts.modes.length; i++) { var mode = consts.modes[i]; %>
            <a target="_blank" title="Download <%= mode.name %> Classification JSON data"
               class="btn btn-primary" alt="Raw <%= mode.name %> JSON"
               href="?cmd=classifiction&mode=<%= mode.id %>"><i class="glyphicon <%= mode.icon %>"></i> <%= mode.name %>
            </a>
            <% } %>
        </div>
        <div class="row">
        </div>
    </div>

    <% if (user.id === 1) { %>
    <div class="off-left-hidden" id="div-cmd-admin">
        <div class="cmd-well col-md-12">
            <h4>Create User</h4>

            <form method="post" id="form-newuser" class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="input-username" class="col-lg-2 control-label"><i class="glyphicon glyphicon-user"></i>
                        Username</label>

                    <div class="col-lg-10">
                        <input id="input-username" type="text" name="username" class="form-control"
                               placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-password" class="col-lg-2 control-label"><i class="glyphicon glyphicon-lock"></i>
                        Password</label>

                    <div class="col-lg-10">
                        <input id="input-password" type="password" name="password" class="form-control"
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" onclick="return aufschreib.createUser()">Create User
                        </button>
                    </div>
                </div>
            </form>
            <div id="output-newuser"></div>
        </div>

        <div class="cmd-well col-md-12">

            <h4>User List</h4>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Passwort</th>
                    <th>Bewertet</th>
                    <th>Unbewertet</th>
                    <th>Total</th>
                </tr>
                </thead>

                <% users.forEach(function(u){ %>
                <tr>
                    <td><%= u.name %></td>
                    <td><%= u.password %></td>
                    <td><%= u.count - u.unknowncount %></td>
                    <td><%= u.unknowncount %></td>
                    <td><%= u.count %></td>
                </tr>
                <% }) %>
            </table>
        </div>
    </div>
    <% } %>
</div>
<script>
    $(function () {
        //workaround for d3 bug, where getBBox() causes the graph not to render in previously hidden div
        //using off-left-hidden technique to simulate tab behaviour
        $('#cmd-tabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var divid = "#div-" + $(e.target).attr("data-target");
            $(divid).removeClass("off-left-hidden");
            divid = "#div-" + $(e.relatedTarget).attr("data-target");
            $(divid).addClass("off-left-hidden");
        });
    });
</script>

<div id="command-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Hey you! FYI:</h3>
            </div>
            <div class="modal-body">
                <p>This can take very looooooooooooooooooooong…</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Ok then, nope</button>
                <button class="btn btn-primary" data-dismiss="modal" onclick="aufschreib.requestClassify();">Do it
                </button>
            </div>
        </div>
    </div>
</div>
