<% include stats_head %>

<div id="<%- container_id %>temp" class="hidden">
	<ul class="nav navbar-nav" id="<%- container_id %>max">
		<li><span class="navbar-brand">Max Entries:</span></li>
		<li>
			<form class="navbar-form navbar-left form-inline" role="search">
				<div class="input-group">
					<input type="number" class="form-control small-input" id="bar_count" value="30" min="0">
				</div>
			</form>
		</li>
	</ul>
	<ul class="nav navbar-nav" id="<%- container_id %>bars">
		<li><span class="navbar-brand">Bars:</span></li>
		<li><a class="btn btn-default" title="Stacked" href="#" value="stacked">Stacked</a></li>
		<li><a class="btn btn-default" title="Grouped" href="#" value="grouped">Grouped</a></li>
	</ul>
	<ul class="nav navbar-nav">
		<li><span class="navbar-brand">Settings:</span></li>
		<li id="<%- container_id %>case"><a class="btn btn-default" title="Case Sensitive" href="#" value="false">Case Sensitive</a></li>
		<li id="<%- container_id %>stop" class="active"><a class="btn btn-default" title="Hide/Show Stopwords" href="#" value="false">Hide Stopwords</a></li>
		<li id="<%- container_id %>tag" class="active"><a class="btn btn-default" title="Hide/Show #aufschrei Entry" href="#" value="false">Hide #aufschrei</a></li>
	</ul>
</div>
<% include stats_content %>

<% include stats_foot %>

<script type="text/javascript">
	$(function () {
		$(document).ready(
				function () {
					$('#<%- container_id %>temp').children().appendTo($('#navbar-content'));
					var bars = new Bars();
					bars.initBars('<%- container_id %>', '<%- chartparams.mode %>', '<%- chartparams.kind %>', new Stats(cats));
				}
		);
	});
</script>
