<% include stats_head %>
<div id="<%- container_id %>temp" class="hidden">
	<ul class="nav navbar-nav" id="<%- container_id %>spiral">
		<li><div class="navbar-desc">Spirale:</div></li>
		<li><a class="btn btn-default" title="Archimedean" value="archimedean" href="#">Archimedean</a></li>
		<li><a class="btn btn-default" title="Rectangular" value="rectangular" href="#">Rectangular</a></li>
	</ul>
	<ul class="nav navbar-nav" id="<%- container_id %>scale">
		<li><div class="navbar-desc">Skalierung:</div></li>
		<li><a class="btn btn-default" title="log n" href="#" value="log">log n</a></li>
		<li><a class="btn btn-default" title="√n" href="#" value="sqrt">√n</a></li>
		<li><a class="btn btn-default" title="n" href="#" value="linear">n</a></li>
	</ul>
	<ul class="nav navbar-nav">
		<li><div class="navbar-desc">Orientierung:</div></li>
		<li>
			<form class="navbar-form form-horizontal navbar-form-orientations">
				<div class="input-group inline">
					<span class="input-group-addon">Max.</span>
					<input class="form-control small-input" type="number" id="cloud_angle-count" value="5" min="1">
					<span class="input-group-addon">#</span>
				</div>

				<div class="input-group inline">
					<span class="input-group-addon">von</span>
					<input class="form-control small-input" type="number" id="cloud_angle-from" width="30" value="-60" min="-90" max="90">
					<span class="input-group-addon">°</span>
				</div>

				<span class="cloud_angles inline" id="cloud_angles_view"></span>

				<div class="input-group inline">
					<span class="input-group-addon">bis</span>
					<input class="form-control small-input" type="number" id="cloud_angle-to" width="30" value="60" min="-90" max="90">
					<span class="input-group-addon">°</span>
				</div>
			</form>
		</li>
	</ul>
	<ul class="nav navbar-nav" id="<%- container_id %>settings">
		<li><div class="navbar-desc">Sonstiges:</div></li>
		<li id="<%- container_id %>case"><a class="btn btn-default" title="Klein-/Großschreibung ignorieren/beachten" href="#" value="false">Klein-/Großschreibung</a></li>
		<li id="<%- container_id %>stop"><a class="btn btn-default" title="Eher uninteressante Wörter (sogenannte 'Stoppwörter') ein-/ausblenden" href="#" value="false">Stoppwörter</a></li>
		<li id="<%- container_id %>tag"><a class="btn btn-default" title="Eintrag '#aufschrei' ein-/ausblenden" href="#" value="false">#aufschrei</a></li>
	</ul>
	<ul class="nav navbar-nav">
		<li><div class="navbar-desc">Schrift:</div></li>
		<li>
			<form class="navbar-form form-horizontal">
				<div class="input-group">
					<input type="text" class="form-control col-md-2" id="cloud_font" value="Impact">
				</div>
			</form>
		</li>
	</ul>
	<ul class="nav navbar-nav">
		<li><div class="navbar-desc">Max. Einträge:</div></li>
		<li>
			<form class="navbar-form form-horizontal">
				<div class="input-group">
					<input type="number" class="form-control small-input" id="cloud_count" value="30" min="0">
				</div>
			</form>
		</li>
	</ul>
</div>
<% include stats_content %>

<% include stats_foot %>
<script type="text/javascript">
	$(function () {
		$(document).ready(
				function () {
					$('#<%- container_id %>temp').children().appendTo($('#navbar-content'));
					var cloudy = new Clouds();
					cloudy.initCloud('<%- container_id %>', '<%- chartparams.mode %>', '<%- chartparams.kind %>', new Stats(cats));
				}
		);
	});
</script>
