<% include stats_head %>

<div id="<%- container_id %>temp" class="hidden">
	<ul class="nav navbar-nav" id="<%- container_id %>min">
		<li><div class="navbar-desc">Minimale Anzahl Mentions:</div></li>
		<li>
			<form class="navbar-form navbar-left form-inline" role="search">
				<div class="input-group">
					<input type="number" class="form-control small-input" id="graph_min" value="5" min="1">
				</div>
			</form>
		</li>
	</ul>
    <ul class="nav navbar-nav" id="<%- container_id %>view">
        <li><div class="navbar-desc">Anzeige-Technik:</div></li>
        <li><a class="btn btn-default" title="SVG - Wird von den meinsten Browsern unterstützt" value="svg" href="#">SVG</a></li>
        <li><a class="btn btn-default" title="WebGL - Wird von manchen Browser nicht unterstützt" value="webgl" href="#">WebGL</a></li>
    </ul>
</div>
<% include stats_content %>

<% include stats_foot %>


<script type="text/javascript">
	$(function () {
		$(document).ready(
				function () {
					$('#<%- container_id %>temp').children().appendTo($('#navbar-content'));
					var graph = new Graph();
					graph.initGraph('<%- container_id %>', '<%- chartparams.mode %>', '<%- chartparams.kind %>', new Stats(cats));
				}
		);
	});
</script>