<% include stats_head %>

<div id="<%- container_id %>temp" class="hidden">
    <ul class="nav navbar-nav">
        <li><div class="navbar-desc">Sonstiges:</div></li>
        <li id="<%- container_id %>rated"><a class="btn btn-default" title="Nicht bewertete (Unbekannt) ein-/ausblenden" href="#" value="false">Nicht bewertete</a></li>
    </ul>
</div>

<% include stats_content %>

<% include stats_foot %>

<script type="text/javascript">
	$(function () {
		$(document).ready(
				function () {
                    $('#<%- container_id %>temp').children().appendTo($('#navbar-content'));
                    var pies = new Pies();
					pies.initPie('<%- container_id %>', '<%- chartparams.mode %>', '<%- chartparams.kind %>',
							'<%- chartparams.forcegenerate %>', new Stats(cats));
				}
		);
	});
</script>
