<div id="<%= container_id %>vis" class="<%- chartparams.type %>chart"></div>
<script type="text/javascript">
	$(function () {
		$(document).ready(
				function () {
					var pies = new Pies();
					pies.initPie('<%- container_id %>', '<%- chartparams.mode %>', '<%- chartparams.kind %>',
							'<%- chartparams.forcegenerate %>', new Stats(cats, true));
				}
		);
	});
</script>
