<% var statinfo = consts.tools.statinfo(chartparams.type); if ((statinfo) && (!hide_head)) { %>
<nav class="navbar navbar-default navbar-stats" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-content">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div id="navbar-content" class="collapse navbar-collapse navbar-ex1-collapse">

        <% if (statinfo.usesMode) { %>
		<ul class="nav navbar-nav" id="<%- container_id %>mode">
			<li><div class="navbar-desc">Daten:</div></li>
			<% consts.modes.forEach(function(mode) { %>
			<li><a class="btn btn-default" href="#" value="<%= mode.id %>" title="<%= mode.name %>"><i class="glyphicon <%- mode.icon %>"></i></a></li>
			<% }); %>
		</ul>
        <% }%>

        <% if (statinfo.kinds.length>0) { %>
        <ul class="nav navbar-nav" id="<%- container_id %>kind">
            <li><div class="navbar-desc">Einträge:</div></li>
            <% statinfo.kinds.forEach(function(kind) { %>
            <li><a class="btn btn-default" href="#" title="<%- kind.hint %>" value="<%- kind.id %>"><i class="glyphicon <%= kind.icon %>"></i> <%= kind.name %></a></li>
            <% });%>
        </ul>
        <% }%>

		<% if (statinfo.usesCats) { %>
		<ul class="nav navbar-nav" id="<%- container_id %>cat">
			<li><div class="navbar-desc">Bewertungen:</div></li>
			<li><a class="btn btn-default" title="Alle" href="#" value="all">Alle</a></li>
			<% consts.cats.forEach(function(cat) { %>
			<li><a class="btn btn-default" href="#" title="<%= cat.name %>" value="<%- cat.id %>"><i class="glyphicon <%- cat.icon %>"></i></a></li>
			<% }); %>
		</ul>
		<% } %>

	</div>
</nav>
<% }%>