
<nav class="navbar navbar-stats-footer" role="navigation">
<ul class="nav navbar-nav">
			<li id="<%- container_id %>current-json">
				<a class="btn btn-default" href="#">View JSON</a></li>
			<li><a class="btn btn-default" id="<%- container_id %>download-json" href="#" target="_blank"><i class="icon-download-alt"></i>
				Download JSON</a></li>
			<li><a class="btn btn-default" id="<%- container_id %>download-svg" href="#" target="_blank"><i class="icon-download-alt"></i>
				Download SVG</a></li>
		</ul>
</nav>

<pre id="<%- container_id %>json" style="display:none">></pre>

<link type="text/css" href="/static/stats/<%- chartparams.type %>.css" rel="stylesheet">
<script src="/static/stats/<%- chartparams.type %>.js"></script>
<script type="text/javascript">
	var cats = <%- JSON.stringify(consts.cats) %>;
</script>
