<% include stats_head %>

<div id="<%- container_id %>temp" class="hidden">
		<ul class="nav navbar-nav" id="<%- container_id %>view">
			<li><div class="navbar-desc">Ansicht:</div></li>
			<li><a class="btn btn-default" title="Fl채che von 0 ausrichten" value="zero" href="#">Fl채che</a></li>
			<li><a class="btn btn-default" title="Fl채che mittig ausrichten" value="wiggle" href="#">Mittig</a></li>
			<li><a class="btn btn-default" title="Auf ganze Fl채che expandieren" value="expand" href="#">Expandieren</a></li>
		</ul>
</div>
<% include stats_content %>

<% include stats_foot %>

<script type="text/javascript">
    $(function () {
        $(document).ready(
                function () {
					$('#<%- container_id %>temp').children().appendTo($('#navbar-content'));
					var times = new Times();
					times.initTimes('<%- container_id %>','<%- chartparams.mode %>','<%- chartparams.kind %>', new Stats(cats));
				}
        );
    });
</script>
