<% include stats_head %>

<div id="<%- container_id %>temp" class="hidden">
		<ul class="nav navbar-nav" id="<%- container_id %>view">
			<li><span class="navbar-brand">View:</span></li>
			<li><a class="btn btn-default" title="Area from Zero" value="zero" href="#">Area</a></li>
			<li><a class="btn btn-default" title="Wiggle" value="wiggle" href="#">Wiggle</a></li>
			<li><a class="btn btn-default" title="Expand" value="expand" href="#">Expand</a></li>
		</ul>
</div>
<% include stats_content %>

<% include stats_foot %>

<script type="text/javascript">
    $(function () {
        $(document).ready(
                function () {
					$('#<%- container_id %>temp').children().appendTo($('#navbar-content'));
					var times = new Times();
					times.initTimes('<%- container_id %>','<%- chartparams.mode %>','<%- chartparams.kind %>', new Stats(cats));
				}
        );
    });
</script>
